.btnPrimary {
  background-color: #ff2351;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  width: 100%;
  height: 46px;
  cursor: pointer;
  transition: .3s;
  align-self: center;
}

.btn-primary:hover {
  background-color: rgb(255, 35, 51);
  transform: scale(1.01);
}

.btnSecondary {
  background-color: #fff;
  color: #ff2351;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ff2351;
  border-radius: 18px;
  width: 100%;
  height: 46px;
  cursor: pointer;
  transition: .3s;
  align-self: center;
}

.btn-secondary:hover {
  background-color: rgb(255, 35, 51);
  transform: scale(1.01);
}