.products {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.areaProducts {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px){

  .products {
    padding: 0px;
    margin-left: 0;
  }

  .title {
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: 16px;
  }

  .areaProducts {
    width: 100vw;
    justify-content: center;
    padding: 16px;
  }

}